body {
  margin: 0;
}

.App {
  display: flex;
  height: 100vh;
}

.rooms-list {
  width: 20%;
  background-color: rgb(255, 25, 36);
}

.rooms-list a {
  text-decoration: none;
  color: #ffffff;
}

.room-info {
  height: 10%;
  border-bottom: 1px solid black;
}

.chat {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.message-form {
  display:flex;
  align-items: center;
  height: 10%;
  border-top: 1px solid black;
}

.message-form > .message-field {
  width: 100%;
  padding: 10px;
  margin: 15px;
}

.message-form > .message-submit {
  padding: 10px;
  margin-right: 15px;
}

.messages {
  padding: 0 10px;
  flex: 1;
}